body {
    margin: 0;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    overflow-x: hidden;
  }

  /* <uniquifier>: Use a unique and descriptive class name
   <weight>: Use a value from 100 to 900 */

  #navbar {
    background-color: transparent;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: top 0.3s ease, background-color 0.3s ease;
  }

  #navbar.scrolled {
    background-color: rgba(0, 0, 0, 0.7); /* Background color when scrolled */
  }

  .logo {
    margin-left: 50px;
  }
  
  .logo img {
    max-width: 120px; 
  }
  
  #navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  #navbar ul li {
    display: inline;
    margin-right: 70px;

  }
  
  #navbar ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    font-weight: 400;
    font-size: 22px;
    letter-spacing: 0.1px;

  }

  #navbar a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease, background-color 0.5s ease-in-out; 
    border-radius: 8px; 
  }
  
  #navbar a:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255); 
    border-radius: 8px; 
  }
  
  
  .section {
    height: 500px; 
    padding-top: 50px; 
  }
  
  #home {
    background-image: linear-gradient(rgba(0, 0, 0, 0.311),rgba(0, 0, 0, 0.338)),url(images/homeherobg.png);
    background-position: center;
    background-size: cover;
    position: relative;
    min-height: 100vh;
    width: 100%;
  }

  #home h1{
    margin-top: 200px;
    font-size: 70px;
    font-weight: 600;
    text-align: left;
    padding-left: 60px;
    line-height: 0.2;
    color: #fff;
}

#home h2{
  font-size: 70px;
  font-weight: 600;
  text-align: left;
  padding-left: 60px;
  line-height: 0.8;
  color: #fff;
}

  
  #about {
    
    background-image: linear-gradient(rgba(103, 18, 61, 0.575),rgba(103, 18, 61, 0.658)),url(image/Home\ BG.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    height: 620px;
  }

  /* Make the image circular */
    .circle-image {
    border-radius: 50%;
    width: 400px;
    height: 400px;
    padding: 60px;
    }

    .container {
      display: fleX; 
      align-items: center; 
    }
    
    .container img {
      max-width: 400px; /* Adjust the width of the image */
      margin-right: 10px; /* Add space between image and text */
      margin-bottom: 50px;
      margin-top: 50px;
    }
    
    #about h2{
      font-size: 50px;
      margin-bottom: 5px;
      color: #fff;
    }

    #about h3{
      font-size: 45px;
      color: #ffdd00;
      margin-top: 5px;
      margin-bottom: 5px;
    }

    #about p{
      font-size: 25px;
      margin-top: 10px;
      margin-right: 100px;
      color: #fff;
      font-weight: 320;
    }

   .about-button{
      background: #ad3259;
      padding: 0.5rem 1rem;
      color: #ffffff;
      font-size: 12px;
      cursor: pointer;
      border-radius: 20px;
      text-decoration: none;
      margin-bottom: 50px;
      margin-top: 5px;
  }

  .about-button:hover{
    background-color: #ffdd00;
    color: #000000;
    box-shadow: 0 7px 10px rgba(103, 18, 61, 0.7);
}
  
  #gallery {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #ffffff;
        padding-bottom: 80px;

    }

    #gallery h1{
        font-size: 36px;
        font-weight: 600;
        text-align: center;
        
        padding-bottom: 50px;
    }

    #gallery .wrapper{
        display: flex;
        justify-content: space-evenly;
        width: 90%;
    }

    #gallery .card{
        width: 200px;
        height: 360px;
        background: #fff;
        padding: 2rem 1rem;
        display: flex;
        align-items: flex-end;
        position: relative;
        transition: 0.5s all ease-in-out;
    }

    #gallery .card:hover{
        transform: translateY(-10px);
    }

    #gallery .card-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 20px;
        justify-content: space-between;
    }

    #gallery .card::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.189),  rgb(0, 0, 0));
        z-index: 2;
        opacity: 0;
        transition: 0.5s all;
        border-radius: 20px;
    }

    #gallery .card:hover::before{
        opacity: 1;
    }

    #gallery .card .info{
        position: relative;
        color: #ffffff;
        z-index: 3;
        opacity: 0;
        transform: translateY(30px);
        transition: 0.5s all;
    }

    #gallery .card:hover .info{
        opacity: 1;
        transform: translateY(0);
    }

    #gallery .card .info h1{
        line-height: 40px;
        margin-bottom: 10px;
    }

    #gallery .card .info p{
        font-size: 15px;
        letter-spacing: 1px;
        margin-bottom: 20px;
    }
    #gallery .card .info .card-button{
        background: #ad3259;
        padding: 0.5rem 1rem;
        color: #ffffff;
        font-size: 12px;
        cursor: pointer;
        border-radius: 20px;
        text-decoration: none;
    }

    #gallery .card .info .card-button:hover{
        background-color: #ffdd00;
        color: #000000;
        box-shadow: 0 7px 10px rgba(103, 18, 61, 0.7);
    }
  

  /*     FOOTER     */
footer {
  background-color: #111;
}

footer h1 {
  font-size: 15px;
  color: #fff;
  text-align: center;
  padding-bottom: 10px;
}

.footerContainer {
  width: 100%;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 20px;
}

.socialIcons {
  display: flex;
  justify-content: center;
}

.socialIcons a {
  text-decoration: none;
  padding: 10px; /* Adjust padding for different shapes */
  background-color: white;
  margin: 10px;
  border-radius: 50%; /* Example with rounded rectangle */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px; /* Fixed width for consistent shape */
  height: 30px; /* Fixed height for consistent shape */
}

.socialIcons a i {
  font-size: 2em;
  color: rgb(0, 0, 0);
  opacity: 0.9;
}

/* Hover effect on social media icon */
.socialIcons a:hover {
  background-color: #111;
  transition: 0.5s;
}

.socialIcons a:hover i {
  color: rgb(255, 255, 255);
  transition: 0.5s;
}

.footerBottom {
  background-color: #000;
  padding: 20px;
  text-align: center;
}

.footerBottom p {
  color: white;
  text-align: center;
}
